@model IEnumerable<Warehouse_Inventory_Manager.Models.History>

@{
    ViewData["Title"] = "Warehouse History";
}

<h1>Index</h1>
<form asp-area="" asp-controller="History" asp-action="Index" method="get">
    <select name="option" onchange="this.form.submit()">
        <option value="">Select Type</option>
        <option value="A">All</option>
        <option value="I">Increment</option>
        <option value="W">Withdraw</option>
    </select>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datetime)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.IdProduct)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Datetime)
            </td>
        </tr>
}
    </tbody>
</table>
